<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
</head>
<body>
  <h1>Home Page</h1>
  <h2>Your favorite animal is <%= animal %></h2>
  
  <div>
    <span>Choose your Favorite Animal</span>
    <ol>
      <li><a href="/animals/dog">Dog</a></li>
      <li><a href="/animals/cat">Cat</a></li>
      <li> <a href="/animals/ferret">Ferret</a></li>
      <li><a href="/animals/snake">Snake</a></li>
      <li><a href="/animals/velociraptor">Velociraptor</a></li>
      <li><a href="/animals/clear">Clear</a></li>
    </ol>
  </div>

  <a href="/about">Visit the about page</a>
</body>
</html>
